.content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 15px;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
  min-width: 300px;
  margin: 15px;
}

.position {
  font-weight: 700;
  text-transform: uppercase;
}

.row {
  display: flex;
  justify-content: space-between;
}