.public-sidebar {
  display: inline-block;
  height: stretch;
  width: 240px;
  vertical-align: top;
  border-right: 1px solid lightgrey;
  transition: margin-left .125s ease-in-out;
}

.public-sidebar-avatar{
  width: 150px !important;
  height: 150px !important;
  margin: 10px auto;
}

.public-sidebar-quickLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  width: 100%;
}

.public-sidebar-listItem {
  justify-content: center;
  padding: 0;
}

.public-sidebar-menu {
  width: 100%;
  max-width: 360px;
  background-color: theme.palette.background.paper
}

.public-sidebar-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.public-sidebar-nested {
  padding-left: 35px;
}

.public-sidebar-progress {
  display: block;
  margin: auto;
}
