.vigenere-cipher-page {
  width: stretch;
  height: stretch;
  color: #000;
  background-color: #FFF;
}

.vigenere-cipher-page > .row:nth-child(odd) {
  color: #FFF;
  background-color: #2a5475;
}

.vigenere-cipher-page > .row {
  display: flex;
}