.public-interface {
  display: flex;
  flex-wrap: nowrap;
}

.public-interface .fullscreen {
  margin-left: auto;
}

.public-interface .interface {
  flex: 4;
  height: stretch;
  width: stretch;
  max-height: calc(100% - 64px);
  overflow: auto;
  background: #FFF;
}

.public-interface .titleRow {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  align-items: flex-end;
  text-decoration: none;
  color: #FFF;
}
