.public-interface {
  display: flex;
  flex-wrap: nowrap;
}
  
.public-interface .public-interface-appBar {
}

.public-interface .fullscreen {
  margin-left: auto;
}

.public-interface .interface {
  flex: 4;
  height: stretch;
  max-height: calc(100% - 64px);
  overflow: auto;
}

.public-interface .progress {
  width: 100%;
  margin: 0 auto
}

.public-interface .circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.public-interface .titleRow {
  display: flex;
  width: 250px;
  flex-wrap: wrap;
  align-items: flex-end;
  text-decoration: none;
  color: #FFF;
}
