.all-programs {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: stretch;
  padding: 5px;
}

.programs-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #2a5475 !important;
}

.programs-page .small-column {
  position: relative;
  padding: 10px;
  flex: 1;
}

.programs-page .small-column::before {
  content: '';
  /** position absolute starting at the top and left of our column **/
  position: absolute;
  top: 0;
  left: 0;
  /** pseudo-elements are inline by default **/
  display: block;
  /** same height and width than our column **/
  width: 100%;
  height: 100%;
  border: 1px solid red;
  /** we want the pseudo-element to be behind our real column **/
  z-index: -1;
}

.programs-page .medium-column {
  flex: 2;
}

.programs-page .large-column {
  flex: 3;
}

.programs-page .card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
  min-width: 300px;
  margin-bottom: 15px;
  background: #fff;
}

.programs-page .card:last-child {
  margin-bottom: 0;
}

.programs-page .position {
  font-weight: 700;
  text-transform: uppercase;
}

.programs-page .row {
  display: flex;
  justify-content: space-between;
}

.programs-page .title {
  padding-left: 5px;
  margin-bottom: 3px;
  border-left: 3px solid #4caf50;
}