html {
  overflow: hidden;
}

body {
  height: calc(100% + 1px);
  position: fixed;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.react-swipeable-view-container {
  height: 100%;
}