html {
  overflow: hidden;
}

body {
  height: 100%;
  position: fixed;
}

body:-moz-full-screen {
  background-color: white;
}

body:-webkit-full-screen {
  background-color: white;
}

body:fullscreen {
  background-color: white;
}

body:-ms-fullscreen {
  background-color: white;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.react-swipeable-view-container {
  height: 100%;
}