* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input {
  border: none;
}

ul, h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
  width: stretch;
  height: stretch;
}

.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.small-column {
  flex: 1;
  padding: 10px;
}

.medium-column {
  flex: 2;
  padding: 10px;
}

.large-column {
  flex: 3;
  padding: 10px;
}

.small-column::before,
.medium-column::before,
.large-column::before {
  content: '';
  /** position absolute starting at the top and left of our column **/
  position: absolute;
  top: 0;
  left: 0;
  /** pseudo-elements are inline by default **/
  display: block;
  /** same height and width than our column **/
  width: 100%;
  height: 100%;
  /** we want the pseudo-element to be behind our real column **/
  z-index: -1;
}

.light-text,
.light-text * {
  color: #FFF !important;
}

.dark-text,
.dark-text * {
  color: #000;
}

.light-divider {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.dark-divider {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}