* {
  padding: 0;
  margin: 0;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  font-family: 'Encode Sans Condensed', sans-serif;
  background-color: #FFF;
  overflow: hidden;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

input {
  border: none;
}

ul, h3 {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  -webkit-padding-start: 0;
}

#root {
  display: flex;
  flex-wrap: wrap;
  width: stretch;
  height: stretch;
}

.flex {
  display: flex;
}

.circular-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.light-text,
.light-text * {
  color: #FFF !important;
}

.dark-text,
.dark-text * {
  color: #000;
}

.light-divider {
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 20px;
}

.dark-divider {
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;
}