.credentials-page {
}

.credentials-page .card {
  display: flex;
  flex-wrap: wrap;
  width: stretch;
}

.credentials-page .card:last-child {
  margin-bottom: 0;
}

.credentials-page .position {
  font-weight: 700;
  text-transform: uppercase;
}

.credentials-page .title {
  padding-left: 5px;
  margin-bottom: 3px;
  border-left: 3px solid #4caf50;
}