.programs-page {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #2a5475 !important;
}

.programs-page .card {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 300px;
  min-width: 300px;
  margin-bottom: 15px;
  background: #fff;
}

.programs-page .card:last-child {
  margin-bottom: 0;
}

.programs-page .position {
  font-weight: 700;
  text-transform: uppercase;
}

.programs-page .row {
  display: flex;
  justify-content: space-between;
}

.programs-page .title {
  padding-left: 5px;
  margin-bottom: 3px;
  border-left: 3px solid #4caf50;
}