.programs-page {
  background-color: #2a5475;
}

.programs-page .card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 200px;
  background: #fff;
}

.programs-page .card:last-child {
  margin-bottom: 0;
}

.programs-page .position {
  font-weight: 700;
  text-transform: uppercase;
}